name: Delphi 13 on RHEL 10

on:
  push:
    branches: [ main, test** ]
  pull_request:
    branches: [ main, test** ]

jobs:
  rhel_test:
    name: Delphi 13 on RHEL 10
    runs-on: ubuntu-latest
    container:
      image: redhat/ubi10:latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Prepare UBI Environment
        # UBI is missing basic tools required for script's execution
        run: |
          dnf install -y sudo procps-ng tar ncurses-devel --setopt=install_weak_deps=False

      - name: Make Script Executable
        run: chmod +x ./scripts/SetupLinux4Delphi.sh

      - name: Run Setup Script
        run: ./scripts/SetupLinux4Delphi.sh 13.0

      - name: Test PAServer Execution
        run: |
          /usr/local/bin/pa13.0.sh &
          sleep 15
          pgrep paserver && echo "✅ PAServer is running." || (echo "❌ PAServer failed"; exit 1)